{% extends 'base.html' %}

{% block title %}detail
{% endblock %}

{% block head %}
    <link rel="stylesheet", href="{{ url_for("static",filename="css/detail.css") }}
{% endblock %}

{% block main %}
    <h3 class="page-title">{{ question.title }} </h3>
    <p class="question-info">
    <span>author:{{ question.author.username }}</span>
    <span>time:{{ question.creat_time }}</span>
    </p>
<hr>

    <p class="question-content">{{ question.content }}</p>
    <hr>
               <h4>comments(0)</h4>
               <form action="{{ url_for('add_answer') }}" method="post">
               <div class="form-group">
                   <input class="form-control" type="text" placeholder="comment" name="answer_content">
                    <input type="hidden" name="question_id" value="{{ question.id }}">
               </div>
               <div class="form-group" style="text-align: right">
                   <button class="btn btn-primary" >comment now</button>
               </div>

               </form>
               <ul class="answer-list">
               {% for answer in question.answers %}
                   <li>
                   <div class="user-info">
                       <img src="{{ url_for('static',filename="images/0.jpg") }}" alt="" class="avatar" >
                       <span class="username">{{ answer.author.username }}</span>
                       <span class="creat-time">2018-12-30</span>
                   </div>
                   <p class="answer-content">
                       {{ answer.content }}
                   </p>

                   </li>
               {% endfor %}
               </ul>
{% endblock %}
